body {
    display: block;
    margin: 8px;
}
section {
    max-width: 800px;
    margin: 12px auto;
    border: 1px solid #eee;
}
section header, section footer {
    width: calc(100% - 24px);
    background: #eee;
    padding: 12px;
    text-align: center;
    display: inline-block;
}
section .image {
width: 100%;
text-align: center;
}
section img {
padding: 5px;
max-width: calc(100% - 10px);
}
section p, section .p{
padding: 0 12px;
}
section .left {
float: left;
}
section .right {
float: right;
}
.adsense {
    width: 100%;
    padding: 12px 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAABlBMVEXm5ub6+vo6kon4AAAAFUlEQVR4AWNgBAIGBhABhBAE5oElAAFKABVay1RuAAAAAElFTkSuQmCC) repeat #e7e7e7;
    text-align: center;
    overflow: hidden;
}
.small {
    font-size: 10px;
}
